<H2>Course Description</H2>
<p>{{ desc }}</p>

<H2>{{ mainTitle }}</H2>

<table>
    {% for student in studentsList %}
        <tr>
            <td>
                {{forloop.counter}}. {{ student.name }} {{ student.family }}
            </td>
            <td style="padding-left:15px;">
                <a style="color:red" href="{% url 'polls:deleteStudent' student.id myId %}">[delete]</a>
            </td>
            <td>
                <a style="color:green" href="{% url 'polls:editStu' student.id %}">[edit]</a>
            </td>
        </tr>
    {% endfor %}
</table>

<H4>add new Student</H4>

<form action="{% url 'polls:vote' myId %}" method="post">
{% csrf_token %}
    <input type="text" name="name" id="nameStu" placeholder="name" /> <br></br>
    <input type="text" name="family" id="familyStu" placeholder="family" /> <br></br>
<input type="submit" value="add student" />
</form>

<hr></hr>
<a href="{% url 'polls:index' %}">return back?</a>
